<a href="https://colab.research.google.com/github/RemnantArgon001/Project2/blob/main/Copy_of_Project_2_Part_1_resubmit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First choice: 

1) Source of data:https://www.kaggle.com/datasets/mastmustu/income

2) Brief description of data:Data is asking you to predict price but outer 8 vehical characteristics.
It can be used to practice machine learning problem like classification.

3) What is the target? price

4) Is this a classification or regression problem?Regression

5) How many features? 10

6) How many rows of data: 17966

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset? duplicate model types of cars and correlatation to years

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
Ford_df=pd.read_csv('/content/ford.csv')
Ford_df.head()

     model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   Fiesta  2017  12000    Automatic    15944   Petrol  150  57.7         1.0
1    Focus  2018  14000       Manual     9083   Petrol  150  57.7         1.0
2    Focus  2017  13000       Manual    12456   Petrol  150  57.7         1.0
3   Fiesta  2019  17500       Manual    10460   Petrol  145  40.3         1.5
4   Fiesta  2019  16500    Automatic     1482   Petrol  145  48.7         1.0

In [ ]:
Ford_df.shape

(17966, 9)


Second choice: electric vehicle by zip 

1) Source of data https://catalog.data.gov/dataset/electric-vehicle-population-data

2) Brief description of data:Dataset provides model-specific fuel consumption ratings and estimated carbon dioxide emissions for new light-duty vehicles for retail sale in Canada in 2022.

3) What is the target? uel Consumption(Comb (mpg)

4) Is this a classification or regression problem? Regression

5) How many features?15

6) How many rows of data.946

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset? having to ensure of no leakage lots of values to classify as well as ohe

In [ ]:
df=pd.read_csv('/content/MY2022 Fuel Consumption Ratings.csv')

In [ ]:
df.head()

,Model Year,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption (City (L/100 km),Fuel Consumption(Hwy (L/100 km)),Fuel Consumption(Comb (L/100 km)),Fuel Consumption(Comb (mpg)),CO2 Emissions(g/km),CO2 Rating,Smog Rating
0,2022,Acura,ILX,Compact,2.4,4,AM8,Z,9.9,7.0,8.6,33,200,6,3
1,2022,Acura,MDX SH-AWD,SUV: Small,3.5,6,AS10,Z,12.6,9.4,11.2,25,263,4,5
2,2022,Acura,RDX SH-AWD,SUV: Small,2.0,4,AS10,Z,11.0,8.6,9.9,29,232,5,6
3,2022,Acura,RDX SH-AWD A-SPEC,SUV: Small,2.0,4,AS10,Z,11.3,9.1,10.3,27,242,5,6
4,2022,Acura,TLX SH-AWD,Compact,2.0,4,AS10,Z,11.2,8.0,9.8,29,230,5,7

In [ ]:
df.shape

(946, 15)